body{
	background-color: #EEEEEE;
	overflow-x: hidden;
}
.jumbotron{
	background-color: #32a852;
}
#top_jumbo{
	margin: 0px;
	padding: 0px;
	margin-bottom: 50px;
	margin-top: 10px;
	color: white;
}
.form-group{
	margin-right: -65px;
	
}
#Mid_Jumbo{
	padding-bottom: 20px;
	padding-top: 40px;

}

.bg-green {
	background-color: #32a852;
}

.nav-bar-top {
	box-shadow: 4px 4px 4px black;
}

div nav ul {
	list-style-type: none;
}

div nav ul li {
	display: inline-block;
	padding: 10px;
}

div nav ul li a {
	color: darkgreen;
}

div nav ul li a:hover {
	text-decoration: none;
	transition: .7s;
	color: lightgreen;
}

.header-brand {
	padding: 10px;
	border-radius: 10px;
	border-bottom: 4px solid lightgreen;
	box-shadow: 5px lightgreen;
}

div.user-form {
	padding: 10px;
	margin: 60px 10px;
}

.user-form input {
	color: #32a852;
	border: none;
	border-bottom: 2px solid #32a852;
}

.user-form input[type=submit] {
	color: white;
}
#contact_jumbo{
	padding-bottom: 20px;
	padding-top: 40px;
	box-shadow: 5px 5px 5px green;
}
#support_jumbo{
	padding-bottom: 20px;
	padding-top: 40px;
	margin: 20px;
}